
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Image carousel" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

    
    <title>Car Information</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <style type="text/css">
        .auto-style1
        {
            width: 231px;
            height: 98px;
            
        }
    </style>


        <script>
            function setText(string) {
                var y = document.getElementById('textField');

                y.value = string;
            }
            function setText1(string) {
                var y = document.getElementById('textField1');

                y.value = string;
            }
            function setText2(string) {
                var y = document.getElementById('textField2');

                y.value = string;
            }
            function setText3(string) {
                var y = document.getElementById('textField3');

                y.value = string;
            }
        </script>




</head>
<body>


            <nav class="navbar navbar-inverse" role="navigation" style="background-color:black;box-shadow: 0 0 20px #000000;position: fixed;z-index:9999"  >
            <div>
                <div class="navbar-inner" style="background-color:black" >
                   <!--  <div class="container" style="float:left">-->
                       <img src="logo.jpg">

                    <div class="navbar-header" style ="float:right;margin-top:120px">
                        <a class ="navbar-brand" href ="/login/Login">Login</a>
                    </div>
                    <div class="navbar-header" style ="float:right;margin-top:120px">
                            <a class ="navbar-brand" href ="/signUp/Signup">Sign Up</a>
                    </div>
                    <div class="navbar-header" style ="float:right;margin-top:120px">
                        <a class="navbar-brand" href="http://facebook.com"><img src="facebook.jpg"/></a>
                    </div>
                    <div class="navbar-header" style ="float:right;margin-top:120px">
                        <a class="navbar-brand" href="http://instragram.com"><img src="instagram.jpg"/></a>
                    </div>
                    <div class="navbar-header" style ="float:right;margin-top:120px">
                        <a class="navbar-brand" href="http://twitter.com"><img src="twitter.jpg"/></a>

                    </div>
                    <div class="navbar-header" style ="float:right;margin-top:120px">
                        <a class="navbar-brand" href="http://youtube.com"><img src="youtube.jpg"/></a>
                    </div>
                    <div class="navbar-header" style ="float:right;margin-top:120px">
                        <a class="navbar-brand" href="http://gmail.com"><img src="gmail.jpg"/></a>
                    </div>
                    
                </div>      
            
                
            
           </div>
           
        </nav>



    @RenderBody()


</body>
</html>
